:root {
  --color-primary: #ff8747;
  /* --gradient-primary: linear-gradient(to top left, #39b385, #9be15d); */
  --gradient-primary: linear-gradient(129deg, #ff8747 23%, #ffaade 56%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 72.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #ffffff;
}
/* Titles */
.section-title {
  font-size: 1rem;
  padding: 10rem 0rem 3rem 15rem;
  /* margin-left: 18rem; */
  color: #f19d9d;
  font-weight: 900;
  text-transform: uppercase;
}

/* NAVBAR */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

.nav.sticky {
  position: fixed;
  background-color: #fcfcfc63;
}

.nav_links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav_item {
  margin-left: 4rem;
}
.nav_link:link,
.nav_link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}
.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: #5ec576;
  color: #333;
}

/*HEADER*/
.header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brand {
  font-size: 2.2rem;
  max-width: 100rem;
}

.header-title {
  flex: 1;

  max-width: 115rem;
  display: flex;
  /* grid-template-columns: 3fr 2fr; */
  /* row-gap: 30rem; */
  align-content: center;
  justify-content: center;
  position: relative;
}

h1 {
  font-size: 5.5rem;
  line-height: 1.35;
  position: absolute;
  transform: translateY(19.4rem);
  margin-right: 66rem;
}

.header__img {
  width: 100%;
}
#ga {
  position: absolute;
  padding: 0 4rem;
  left: 10rem;
}

/* FIRST SECTION OF THE SITE */
.section--1 {
  display: grid;
  /* padding: 4rem 3rem; */
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}

.section__1__split {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding: 3rem;
margin-top: 2rem;
}

#quote {
  font-size: 2.7rem;
  font-style: italic;
  font-weight: 600;
  margin: 10rem;
}

.highlight {
  position: relative;
  padding: 0 10rem;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

p {
  font-size: 1.3rem;
  align-items: center;
  padding: 7rem 14rem;
  letter-spacing: 1px;
  /* line-height: 1; */
}

/* section 3 */

.section_3_description{
  display: flex;
  width: 100%;
  padding: 3% 5%;
  box-sizing: border-box;
  height: 110vh;
}
.box > img {
  width: 100%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .8s;
}
.box > span{
  font-size: 1.5rem;
  text-align: center;
  height: 10vh;
  line-height: 2.6;

}
.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}
.box{
  align-content: center;
  margin: 0;
  position: relative;
}
.box span{
 
  display: block;
	bottom: 25rem;;
	width: 100%;
  position: absolute;
  color:  #f19d9d;
  background-color: rgba(0, 0, 0, 0.511);
  letter-spacing: 1rem;
  opacity: 0;

}
.box:hover span{
  opacity: 1;
}


/* PORTFOLIO section 2 */

h3 {
  font-size: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  text-transform: uppercase;
}

.portfolio_images {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  /* IN THE END */
  overflow: hidden;
}

.slideimg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
  grid-column: 1 / span 2;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}

