
.main-container {
  background-color: rgba(128, 128, 128, 0.078);
  width: 700px;
  height: 50em;
  padding: 3em;
  position: relative;
  /* margin: 0 auto; */
  /* margin-left: 4.5em; */
  /* margin-top: 50px; */
margin: 5rem 5rem 4rem;
  /* z-index: -1; */
  overflow-y: scroll;

}
.container-shop {
  display: grid;
  height: 300px;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 10px;
}
.box-shop {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid rgba(128, 128, 128, 0.39);
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  grid-template-rows: 1.5fr 1.5fr;
  gap: 0em 2em;
  grid-template-areas:
    "image h1 price"
    "image quantity .";
  width: 40em;
  height: 30em;
}
.img {
  grid-area: image;
  width: 200px;
}
.qty {
  grid-area: quantity;
}
.product-details {
  font-size: 17px;
  font-weight: 600;
}
h1 {
  font-size: 24px;
}
.badge-cart {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-weight: 800;
}
.badge {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  border: 2px solid pink;
  font-size: 16px;
}
.btn-delete {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  left: 35%;
  cursor: pointer;
  color: grey;
}

.summary {
  display: flex;
  flex-direction: column;
  padding: 75px;
  /* position: relative; */
  /* top: 2px;
  left: 58em; */
  transform: translate(200%, -161%);
  width: 400px;
  height: 300px;
  gap: 10px;
  z-index: -1;
  background-color: rgba(128, 128, 128, 0.078);
}
.total-price {
  display: flex;
  flex-direction: row;
  gap: 85px;
  width: 250px;
  border-top: 1px solid rgba(128, 128, 128, 0.477);
  font-size: 17px;
}
.checkout {
  background-color: black;
  border: none;
  color: white;
  padding: 12px;
  width: 250px;
  cursor: pointer;
}
.checkout:hover {
  opacity: 0.7;
}
