* {
  box-sizing: border-box;
  margin: 0;
}
.header{
    text-align: center;
    margin: 3rem; 
    color:rgb(144, 127, 255);
}
.gallery {
  display: flex;
  flex-direction: row;
  
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2em;
  max-width: 1400px;
}
.gallery img {
  object-fit: cover;
  width: 100vh;
  max-width: 350px;
  min-width: 200px;
  height: 300px;
  border: 2px solid black;
  padding: 2px;
}
.gallery::after {
  content: "";
  width: 300px;
  position: absolute;
}


